@charset "utf-8";
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F3BD;
}
#header {
	width: 960px;
	height: 150px;
	background-color: #596929;
}
#nav {
	width: 960px;
	height: 50px;
	background-color: #555;
}
#main  {
	width: 960px;
	height: 400px;
	background-color: #999;
}
#footer {
	width: 960px;
	height: 75px;
	background-color: #555;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
}
#col1 {
	width: 220px;
	height: 400px;
	float: left;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 0px;
}
#col3 {
	width: 300px;
	height: 400px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}
#col4{
	width: 720px;
	height: 400px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	
}
#col2 {
	width: 420px;
	height: 400px;
	float: left;
}

#sub1 {
	width: 220px;
	height: 290px;
	background-color: #AB0E11;
	margin-bottom: 10px;
}
#sub2 {
	width: 220px;
	height: 100px;
	background-color: #112818;
	color: #FFFFFF;
}
body {
	background-image: url(images/bg2.jpg);
}
.formatimage {
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}
#wrapper #header h1 {
	color: #2b3411;
	font-size: 100px;
	text-shadow: 2px 2px #000000;
	text-align: center;
	padding-top:15px;
}
#navlist {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	list-style-type: none;
}
#navlist li {
	display: inline;
}
#navlist a {
	margin-left: 30px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
#navlist a:link {
	color: #FBF7F7;
	text-decoration: none;
}
#navlist a:visited {
	color: #818181;
	text-decoration: none;
}
#sub2 p {
	font-size: 35px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 25px;
}
#col2 h2 {
	color: #2b3411;
}
#col2 p {
	line-height: 150%;
	padding-left: 15px;
	padding-right: 15px;
}
strong {
	color: #ED7118;
}
#col3 h3 {
	color: #ED7118;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing: 5px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#wrapper #footer p {
	color: #FDFBFB;
	font-weight: bolder;
	font-size: 22px;
	text-shadow: 1px 1px #060606;
	text-align: center;
}
#lefta{
float:left;
width: 250px;
padding-bottom:50px;
}
#righta input{
margin-bottom:10px; 
margin-right:10px;
margin-top:20px;
}